@font-face {
  font-family: "Hallo";
  src: url("../public/font/zombie_holocaust-webfont.woff") format("woff"),
    url("../public/font/zombie_holocaust-webfont.woff2") format("woff2"),
    url("CustomFont.svg#filename") format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Hallo", sans-serif;
  letter-spacing: 4px;
  background-color: #333;
  color: #eb6123;
  text-align: center;
}

.header {
  font-size: 3rem;
  margin: 2rem 0 2rem 0;
}

.search-box {
  margin-top: 2rem;
  padding: 0.1rem;

  display: inline-block;
}

.search-box-input {
  font-size: 1.3rem;
  width: 250px;
  padding: 1rem;
  outline: none;
}
.search-box-input:focus {
  border: #eb6123 2px solid;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 4rem;
}

#monsters {
  margin-top: 4rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.card {
  cursor: pointer;
  height: 400px;
  width: 300px;
  background: rgba(186, 174, 50, 0.22);
  border-radius: 16px;
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  border: 1px solid rgba(186, 174, 50, 0.18);
}

.card:active {
  transform: scale(0.98);
}

.card-body {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
}

.card-info {
  margin-top: 1rem;
}

.card-info h2 {
  font-size: 2rem;
  padding: 0.5rem;
}

.card-image {
  height: 200px;
  width: 200px;
}

.btn {
  font-family: inherit;
  font-size: 1.2rem;
  color: #333;
  margin: 1rem;
  padding: 0.8rem 2rem;
  background-color: rgb(233, 63, 233);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(186, 46, 186);
  color: aliceblue;
}

.btn:active {
  transform: scale(0.98);
}

.user-title {
  font-size: 3rem;
}
.flex-stats {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  flex-wrap: wrap;
}

.flex-stats img {
  justify-self: end;
  margin-right: 4rem;
}

.stats-info p {
  font-size: 1.5rem;
  text-align: start;
  margin-top: 0.5rem;
  margin-left: 1rem;
  color: rgb(186, 46, 186);
}

.stats-info p span {
  color: #eb6123;
}

@media (max-width: 550px) {
  .flex-stats {
    grid-template-columns: 1fr;
  }
  .flex-stats img {
    justify-self: center;
    margin-right: 0;
    margin-bottom: 2rem;
  }
}
